.contact
	margin-top: 4rem
	+above(md)
		margin-top: 3em
	.contact-form
		position relative
		+above(md)
			display: flex;
			align-items: center;
			justify-content: space-between;
		.contact-input
			flex: 1
			position: relative;
			display: block;
			margin-bottom: 1em
			+above(md)
				&+.contact-input
					margin-left: 3em
			input, textarea
				position relative
				appearence: none
				border-radius: 0
				resize: vertical;
				min-height: 2.75em
				margin-bottom 4rem
				background-color transparent
				padding 10px 8px 6px 0px
				display inline-block
				width 100%
				max-width 100%
				border none
				border-bottom 1px solid currentColor
				transition 0.3s ease border
				color white
				&:focus
					outline none
				&:focus, &:active, &:valid
					border-color $color-font
				&:invalid
					border-color $color-error
				&:placeholder-shown
					border-color alpha($color-font, 0.2)
				& + label
					left 0
					display block;
					width 100%;
					position absolute
					pointer-events none
					transition 0.2s ease all
					color alpha($color-font, 0.6)
					top -1.5em
					font-size 14px
					font-weight: 400
					+above(md)
						top -1.25em
				&[required] + label:after
					content '*'
					position absolute;
					right 0
					top 0.5em
					font-family: sans-serif;
					font-weight: 100
					font-size 1.25em
					line-height 1.25em
					color transparent
				&:placeholder-shown + label, &.placeholder-shown + label
					// [TODO]: IE polyfill
					top 10px
					font-size 1rem
					&:after
						color alpha($color-font, 0.4)
		input:-webkit-autofill
			-webkit-box-shadow: 0 0 0 30px $color-body inset
			-webkit-box-shadow: 0 0 0 30px $color-body inset
			-webkit-text-fill-color: $color-font !important;

	.ghost-button
		color alpha($color-font, 0.5)
		cursor: not-allowed;

	form:valid .ghost-button
		color: $color-font
		cursor: pointer;
		:hover, :focus, :active
			background-color: $color-white
			color: $color-body
			border-color: $color-white
