// Text
$font-size = 18px
$line-height = 32px
$font-sans = 'Inter UI', 'SF Pro Text', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif


// Color
$color-body = #121213
$color-font = #fff3ff
$color-accent = dodgerblue
$color-header = #18191A
$color-white = white

$color-error = #D0011B
