include /system/_components/index

doctype

html(lang='pt')
	head
		if site.title && site.description
			title #{site.title} – #{site.description}
		else
			title #{site.title}
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='/main.css', rel='stylesheet')

	body

		+title-bar().-absolute
		+hero()
		!= yield

		//- +nav()
		+footer()

		script(src='//unpkg.com/feather-icons/dist/feather.min.js')
		script.
			feather.replace()

		script(src='//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.dom.min.js')
		script(src='/canvas.js')

		script(src='/autosize.min.js')
		script.
			var ta = document.querySelector('textarea');
			ta.addEventListener('focus', function(){
				autosize(ta);
			});

			var ta = document.querySelector('textarea');
			ta.style.display = 'none';
			autosize(ta);
			ta.style.display = '';

			// Call the update method to recalculate the size:
			autosize.update(ta);
