include /system/_components/index
include /system/_frontmatter/index
-const frontmatter = getFrontmatter(current.path, public)

+hero()
main.container
	section#experience
		+heading({title: 'experience'})
		for experience in frontmatter.public.experience
			+text-card(experience)

	section#opensource-works
		+heading({title: 'open-source works'})
		for work in frontmatter.public.work
			+text-card(work)

	section#other-works
		+heading({title: 'other works'})
		ul.other-works
			for work in frontmatter.public.other
				+simple-card(work)

	section#contact
		+heading({title: 'contact'})
		+contact()
