include /system/_components/index
include /system/_frontmatter/index
-const frontmatter = getFrontmatter(current.path, public)

.hero
	#sketch
	.hero-container
		.container
			h2 message sent successfully!
