include /system/_components/index
include /system/_frontmatter/index
-const frontmatter = getFrontmatter(current.path, public)
script.
	window.HEADER_LINE_COLOR = '#9DD465'

.hero
	#sketch
	.hero-container
		.container
			h2 message sent successfully!
