@font-face {
	font-family: 'Inter UI';
	font-style:  normal;
	font-weight: 400;
	src: url('/assets/fonts/interui/Inter-UI-Regular.woff2') format('woff2'),
			url('/assets/fonts/interui/Inter-UI-Regular.woff') format('woff'),
			url('/assets/fonts/interui/Inter-UI-Regular.ttf') format('ttf');
}
@font-face {
	font-family: 'Inter UI';
	font-style:  italic;
	font-weight: 400;
	src: url('/assets/fonts/interui/Inter-UI-Italic.woff2') format('woff2'),
			url('/assets/fonts/interui/Inter-UI-Italic.woff') format('woff'),
			url('/assets/fonts/interui/Inter-UI-Italic.ttf') format('ttf');
}

@font-face {
	font-family: 'Inter UI';
	font-style:  normal;
	font-weight: 500;
	src: url('/assets/fonts/interui/Inter-UI-Medium.woff2') format('woff2'),
			url('/assets/fonts/interui/Inter-UI-Medium.woff') format('woff'),
			url('/assets/fonts/interui/Inter-UI-Medium.ttf') format('ttf');
}
@font-face {
	font-family: 'Inter UI';
	font-style:  italic;
	font-weight: 500;
	src: url('/assets/fonts/interui/Inter-UI-MediumItalic.woff2') format('woff2'),
			url('/assets/fonts/interui/Inter-UI-MediumItalic.woff') format('woff'),
			url('/assets/fonts/interui/Inter-UI-MediumItalic.ttf') format('ttf');
}
//
// @font-face {
//   font-family: 'Inter UI';
//   font-style:  normal;
//   font-weight: 700;
//   src: url('/assets/fonts/interui/Inter-UI-Bold.woff2') format('woff2'),
//        url('/assets/fonts/interui/Inter-UI-Bold.woff') format('woff'),
// 			url('/assets/fonts/interui/Inter-UI-Bold.ttf') format('ttf');
// }
// @font-face {
//   font-family: 'Inter UI';
//   font-style:  italic;
//   font-weight: 700;
//   src: url('/assets/fonts/interui/Inter-UI-BoldItalic.woff2') format('woff2'),
//        url('/assets/fonts/interui/Inter-UI-BoldItalic.woff') format('woff'),
// 			url('/assets/fonts/interui/Inter-UI-BoldItalic.ttf') format('ttf');
// }
//
// @font-face {
//   font-family: 'Inter UI';
//   font-style:  normal;
//   font-weight: 900;
//   src: url('/assets/fonts/interui/Inter-UI-Black.woff2') format('woff2'),
//        url('/assets/fonts/interui/Inter-UI-Black.woff') format('woff'),
// 			url('/assets/fonts/interui/Inter-UI-Black.ttf') format('ttf');
// }
// @font-face {
//   font-family: 'Inter UI';
//   font-style:  italic;
//   font-weight: 900;
//   src: url('/assets/fonts/interui/Inter-UI-BlackItalic.woff2') format('woff2'),
//        url('/assets/fonts/interui/Inter-UI-BlackItalic.woff') format('woff'),
// 			url('/assets/fonts/interui/Inter-UI-BlackItalic.ttf') format('ttf');
// }
