main
	header
		padding-top: 0.5rem
		padding-bottom: 0.5rem
		margin-bottom: 0.75em
		border-bottom: 2px solid alpha($color-font, 0.1)
		display: flex

		&.sticky
			z-index: 1
			position: sticky
			top 0
			background-color: $color-body
		a
			color: currentColor
		.main
			flex 1
			font-weight: 500
