
.hero
	position: relative;
	width: 100%
	min-height: 80vh
	margin-bottom: 2rem
	+above(md)
		margin-bottom: 4rem
	#sketch
		top 0
		bottom 0
		left 0
		right 0
		position: absolute;
	.hero-container
		position: absolute;
		width: 100%
		bottom: 0
		margin-bottom: 3.5em
		margin-top: 3.5em
	h2
		font-size: 1.75em
		line-height: 1.25
